<section class="chat-window">
    {{#unless currentChat.id}}
        <section class="chat-window__stab">
            Выберите или создайте новый чат.
            {{{ApiErrorMessage}}}  
        </section>
        
    {{else}}
        {{{ChatHeader title=currentChat.title avatar=currentChat.avatar}}}
        {{{ChatFeed currentChat=currentChat.id messages=messages}}}
        {{{ChatMessageBar ref="messageBar" onSend=onSend}}}
    {{/unless}}
</section>
