<main class="register">
    {{#>Form className="register" title="Регистрация"}}
        <div class="register__form_fields">
            {{{FormInput label="Почта" name="email"}}}
            {{{FormInput label="Логин" name="login"}}}
            {{{FormInput label="Имя" name="first_name"}}}
            {{{FormInput label="Фамилия" name="second_name"}}}
            {{{FormInput label="Телефон" name="phone" type="phone"}}}
            {{{FormInput label="Пароль" name="password" type="password"}}}
            {{{FormInput label="Подтвердите пароль" name="password_confirm" type="password"}}}
        </div>
        {{{Button label="Зарегистрироваться" type="primary"}}}
        {{{Button label="Уже есть аккаунт?" type="secondary"}}}
    {{/Form}}
</main>
