<main class="profile">
    {{#>Form type="profile"}}
        <div class="profile__avatar">
            <img class="profile__avatar_image" src="{{image}}" />
        </div>
        <span class="profile__profile_name">
            {{nickname}}
        </span>
        <div class="profile__form_fields">
            {{{Input label='Почта' name='email' value='vasya2007@yandex.ru' profile_styled=true}}}
            {{{Input label='Логин' name='login' value='vasya2007' profile_styled=true}}}
            {{{Input label='Имя' name='first_name' value='Василий' profile_styled=true}}}
            {{{Input label='Фамилия' name='second_name' value='Пупкин' profile_styled=true}}}
            {{{Input label='Имя в чате' name='display_name' value='Mr.BIG' profile_styled=true}}}
            {{{Input label='Телефон' name="phone" type="phone" value='+7(911)111-11-11' profile_styled=true}}}
        </div>
        <div class="{{className}}__buttons_wrapper">
            {{{Button label = "Изменить данные" type="secondary"}}}
            {{{Button label = "Изменить пароль" type="secondary"}}}
            {{{Button label = "Выйти" type="danger"}}}
        <div>
    {{/Form}}
</main>
