<main class="profile">
    {{#>Form type="profile"}}
        {{>Avatar size="large" src=user.avatar}}
        <span class="profile__profile_name">
            {{user.display_name}}
        </span>
        <div class="profile__form_fields">
            {{{Input label='Почта' name='email' value=user.email profile_styled=true}}}
            {{{Input label='Логин' name='login' value=user.login profile_styled=true}}}
            {{{Input label='Имя' name='first_name' value=user.first_name profile_styled=true}}}
            {{{Input label='Фамилия' name='second_name' value=user.second_name profile_styled=true}}}
            {{{Input label='Имя в чате' name='display_name' value=user.display_name profile_styled=true}}}
            {{{Input label='Телефон' name="phone" type="phone" value=user.phone profile_styled=true}}}
        </div>
        <div class="{{className}}__buttons_wrapper">
            {{{Button label = "Изменить данные" type="secondary"}}}
            {{{Button label = "Изменить пароль" type="secondary"}}}
            {{{Button label = "Выйти" type="danger"}}}
        <div>
    {{/Form}}
</main>
