<main class="messenger-page">
  {{{ChatSideBar chats=chats onClickProfileButton=switchToProfile onClickCreateChatButton=openDialog}}}
  {{{ChatWindow}}}
  {{{DialogCreateChat}}}
  {{{DialogAddUser onAddUser=onAddUser ref="addUserDialog"}}}
  {{{DialogDeleteChat onDeleteChat=onDeleteChat}}}
  {{{DialogUploadMedia}}}
</main>
