{{#Dialog open=isOpen}}
<form method="dialog">
    <h4>Смена пароля</h4>
    {{{ FormField label="Старый пароль" name="old_password" ref="oldPassword"}}}
    {{{ FormField label="Новый пароль" name="new_password" ref="newPassword"}}}
    {{{ FormField label="Повторите пароль" name="new_password_confirm" ref="newPasswordConfirm"}}}
    {{{ ErrorLine error=error ref="errorMessage"}}}
    <div>
        {{{ Button
        label="Изменить пароль"
        type="submit"
        style="primary"
        onClick=onSubmit
        }}}
        {{{ Button
        label="Отменить"
        type="button"
        style="secondary"
        onClick=onClose
        }}}
    </div>
</form>
{{/Dialog}}
