<label class="form-field_label form_label__{{style}}">
    <span class="form-field_label-text form-field_label-text__{{style}} ">{{label}}</span>
    {{{Input name=name type=type style=style ref="input" value=value onBlur=onBlur}}}
    <span class="form_input-error" ref="error">{{error}}</span>
</label>
